<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dropdown</title>
        <link rel="stylesheet" href="../../assets/css/main.css" />
        <link rel="stylesheet" href="../../assets/css/style.css" />
        <link rel="stylesheet" href="./dropdown.css" />
        <script src="../../assets/icon/ef6eeeb025.js"></script>
    </head>
    <body>
        <div id="dropdown" class="">
            <div class="dropdown__label">Field label</div>
            <div class="dropdown__wrap">
                <div class="dropdown">
                    <span class="dropdown__title">Placeholder</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <ul class="options">
                    <div class="options__wrap">
                        <li class="option">Hà Nội</li>
                        <li class="option">TP.Hồ Chí Minh</li>
                        <li class="option">Đà Nẵng</li>
                    </div>
                </ul>
                <p class="dropdown__desc">Error message</p>
            </div>
        </div>
        <script src="../../assets/js/script.js"></script>
    </body>
</html>
