<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Combobox</title>
        <link rel="stylesheet" href="../../assets/css/main.css" />
        <link rel="stylesheet" href="../../assets/css/style.css" />
        <link rel="stylesheet" href="./combobox.css" />
        <script src="../../assets/icon/ef6eeeb025.js"></script>
    </head>
    <body>
        <div id="combobox" class="error">
            <div class="combobox__label">Field</div>
            <div class="combobox__wrap">
                <div class="combobox">
                    <input
                        type="text"
                        class="combobox__input"
                        placeholder="Type here"
                    />
                    <div class="combobox__separate"></div>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <ul class="options">
                    <div class="options__wrap">
                        <li class="option">Hà Nội</li>
                        <li class="option">TP.Hồ Chí Minh</li>
                        <li class="option">Đà Nẵng</li>
                    </div>
                </ul>
                <p class="combobox__desc">Error message</p>
            </div>
        </div>
        <script src="../../assets/js/script.js"></script>
    </body>
</html>
