<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Text Field</title>
        <link rel="stylesheet" href="../../assets/css/main.css" />
        <link rel="stylesheet" href="../../assets/css/style.css" />
        <link rel="stylesheet" href="./textfield.css" />
        <script src="../../assets/icon/ef6eeeb025.js"></script>
    </head>
    <body>
        <div class="textfield validate">
            <label class="textfield__label">
                <p>Label</p>
                <div class="textfield__wrap">
                    <input
                        type="text"
                        class="textfield__input"
                        placeholder="Placeholder"
                    />
                    <div class="icon-search"></div>
                    <!-- <i class="fa-solid fa-spinner"></i> -->
                    <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                </div>
            </label>
            <p class="textfield__desc">
                &lt;Tên trường&gt; không được để trống
            </p>
        </div>
    </body>
</html>
