<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Thông báo kêu gọi hành động</title>
        <link rel="stylesheet" href="../../assets/css/main.css" />
        <link rel="stylesheet" href="../../assets/css/style.css" />
        <link rel="stylesheet" href="./noti.css" />
        <link rel="stylesheet" href="../button/btn.css" />
        <script src="../../assets/icon/ef6eeeb025.js"></script>
    </head>
    <body>
        <div class="noti__action">
            <div class="noti__action-header">
                <div class="noti__action-header-title">Dữ liệu đã thay đổi</div>
                <div class="noti__action-header-close">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="noti__action-content">
                <p>Lưu lại những thay đổi?</p>
            </div>
            <div class="noti__action-footer">
                <button class="btn">Đóng</button>
                <button class="btn">Không lưu</button>
                <button class="btn success">Lưu</button>
            </div>
        </div>
    </body>
</html>
