<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Thông báo mang tính nhắc nhở</title>
        <link rel="stylesheet" href="../../assets/css/main.css" />
        <link rel="stylesheet" href="../../assets/css/style.css" />
        <link rel="stylesheet" href="./remind.css" />
        <script src="../../assets/icon/ef6eeeb025.js"></script>
    </head>
    <body>
        <!-- Thành công, lỗi, cảnh báo và thông tin -->
        <div class="noti__remind">
            <div class="noti__remind-wrap">
                <div class="noti__remind-wrap-info">
                    <div class="noti__remind-status info">
                        <div class="noti__remind-icon">
                            <!-- <i class="fa-solid fa-circle-check"></i> -->
                            <!-- <i class="fa-solid fa-circle-xmark"></i> -->
                            <i class="fa-solid fa-circle-info"></i>
                        </div>
                        <div class="noti__remind-msg">
                            <span class="noti__remind-text">Cảnh báo!</span>
                            Dữ liệu của bạn đã bị thay đổi bởi người dùng khác.
                            <!-- <div class="noti__remind-wrap-link">
                                <a href="" class="noti__remind-link"
                                    >Xem hướng dẫn</a
                                >
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="noti__remind-action">
                    <a href="" class="noti__remind-act">Hoàn tác</a>
                    <div class="noti__remind-action-icon">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
